/* body 
1. позиционирование 
2. цвет
3. шрифт
4. анимация
 */

/* ПОТОМ УДАЛИТЬ-ДЛЯ ПРОВЕРКИ */
.header {
  /* border: 1px solid tomato; */
  background-color: turquoise;
}
.features {
  background-color: violet;
}
.specialization {
  background-color: yellowgreen;
}
/* ПОТОМ УДАЛИТЬ-ДЛЯ ПРОВЕРКИ */

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
